<h2>ML model for delays dataset using classification methods</h2>

In [2]:
import sklearn, matplotlib.pyplot as plt, matplotlib.animation as animation, pandas as pd, numpy as np, seaborn, scipy, json
from sklearn.preprocessing import LabelEncoder

In [2]:
delays_train = pd.read_csv("C:/Users/X/Downloads/ML2023/ML2023/delays/delays_train.csv")
delays_test = pd.read_csv("C:/Users/X/Downloads/ML2023/ML2023/delays/delays_test.csv")

In [3]:
len(delays_train.dtypes)

28

In [4]:
len(delays_test.dtypes)

27

In [5]:
delays_train.dtypes

Weekday                        int64
Month_of_Year                  int64
Day_of_Month                   int64
Scheduled_Departure_Time       int64
Scheduled_Arrival_Time         int64
Marketing_Airline             object
Marketing_Airline_DOT_ID       int64
Flight_Number                  int64
Origin_Airport_ID              int64
Destination_Airport_ID       float64
Flight_Cancelled                bool
Departure_State               object
Arrival_State                 object
Departure_Delay              float64
Arrival_Delay                float64
Diverted_Airport_Landings      int64
Taxi_Out_Time                float64
Taxi_In_Time                 float64
Flight_Diverted                 bool
Actual_Departure_Time        float64
Flight_Duration              float64
Flight_Distance              float64
Origin_Temperature           float64
Destination_Temperature      float64
Origin_Wind_Speed            float64
Destination_Wind_Speed       float64
Origin_Precipitation         float64
Destination_Precipitation    float64
dtype: object

Arrival delay column is our described variable.

In [6]:
delays_test.dtypes

Weekday                        int64
Month_of_Year                  int64
Day_of_Month                   int64
Scheduled_Departure_Time       int64
Scheduled_Arrival_Time         int64
Marketing_Airline             object
Marketing_Airline_DOT_ID       int64
Flight_Number                  int64
Origin_Airport_ID              int64
Destination_Airport_ID       float64
Flight_Cancelled                bool
Departure_State               object
Arrival_State                 object
Departure_Delay              float64
Diverted_Airport_Landings      int64
Taxi_Out_Time                float64
Taxi_In_Time                 float64
Flight_Diverted                 bool
Actual_Departure_Time        float64
Flight_Duration              float64
Flight_Distance              float64
Origin_Temperature           float64
Destination_Temperature      float64
Origin_Wind_Speed            float64
Destination_Wind_Speed       float64
Origin_Precipitation         float64
Destination_Precipitation    float64
dtype: object

In [7]:
delays_train

,Weekday,Month_of_Year,Day_of_Month,Scheduled_Departure_Time,Scheduled_Arrival_Time,Marketing_Airline,Marketing_Airline_DOT_ID,Flight_Number,Origin_Airport_ID,Destination_Airport_ID,...,Flight_Diverted,Actual_Departure_Time,Flight_Duration,Flight_Distance,Origin_Temperature,Destination_Temperature,Origin_Wind_Speed,Destination_Wind_Speed,Origin_Precipitation,Destination_Precipitation
0,6,6,25,1222,1444,B6,20409,520,10397,12478.0,...,False,1224.0,107.0,760.0,25.140220,19.357739,21.019808,15.452723,0.0,0.0
1,2,6,21,1216,1304,NaN,19805,6297,14107,15376.0,...,False,1216.0,23.0,110.0,13.279939,20.470690,18.045064,12.910265,0.0,0.0
2,3,1,5,1945,2055,DL,19790,4124,13487,13076.0,...,False,1945.0,36.0,119.0,17.816202,13.967273,21.606228,17.976362,0.0,0.1
3,2,3,22,700,924,AA,19805,1538,15624,11298.0,...,False,658.0,125.0,641.0,24.562566,14.509228,24.946489,22.630553,0.0,0.0
4,4,7,14,2130,2359,NaN,19930,1116,14747,12889.0,...,False,2133.0,130.0,867.0,8.817992,10.866812,17.426336,17.401007,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631322,7,2,27,905,1115,AS,19930,1366,14057,12889.0,...,False,856.0,NaN,763.0,11.703410,11.850033,NaN,NaN,0.1,0.0
1631323,2,4,19,2239,720,AA,19805,276,14771,12478.0,...,False,2231.0,285.0,2586.0,33.962022,15.471513,25.784110,24.902274,0.1,0.0
1631324,5,6,10,734,751,UA,19977,5279,11721,13930.0,...,False,733.0,41.0,223.0,12.915957,25.351905,11.846814,14.315929,0.0,0.0
1631325,3,3,30,1250,1345,AS,19930,421,14747,14057.0,...,False,1245.0,29.0,129.0,13.731863,13.932608,16.616156,18.730498,0.0,0.1
1631326,4,1,27,530,726,NK,20416,1877,10397,11697.0,...,False,527.0,83.0,581.0,11.369045,19.818880,19.615980,17.573201,0.0,1.0

In [8]:
delays_train = delays_train.dropna()
delays_test = delays_test.dropna()

test for correlation

In [9]:
#delays_train[['Arrival_State']].corrwith(delays_train['Arrival_Delay'])

In [10]:
delays_train

,Weekday,Month_of_Year,Day_of_Month,Scheduled_Departure_Time,Scheduled_Arrival_Time,Marketing_Airline,Marketing_Airline_DOT_ID,Flight_Number,Origin_Airport_ID,Destination_Airport_ID,...,Flight_Diverted,Actual_Departure_Time,Flight_Duration,Flight_Distance,Origin_Temperature,Destination_Temperature,Origin_Wind_Speed,Destination_Wind_Speed,Origin_Precipitation,Destination_Precipitation
3,2,3,22,700,924,AA,19805,1538,15624,11298.0,...,False,658.0,125.0,641.0,24.562566,14.509228,24.946489,22.630553,0.0,0.0
5,1,5,30,750,915,WN,19393,1336,14831,14679.0,...,False,748.0,58.0,417.0,9.360464,15.977111,19.001179,16.884960,0.0,0.0
8,6,2,5,1550,1757,UA,19977,760,13930,12889.0,...,False,1600.0,212.0,1514.0,13.230787,19.435726,20.623159,25.128615,0.0,0.0
9,7,5,15,1929,2249,B6,20409,277,11697,14771.0,...,False,1931.0,335.0,2584.0,27.445288,24.229759,30.438358,27.491255,0.5,2.0
10,2,2,15,1440,1613,UA,19977,4835,12266,13422.0,...,False,1434.0,60.0,427.0,17.339235,18.064053,15.122579,17.647518,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631321,6,6,4,1620,1856,NK,20416,1308,11697,10821.0,...,False,1645.0,119.0,925.0,19.305118,18.690610,19.293906,20.953889,0.0,0.1
1631323,2,4,19,2239,720,AA,19805,276,14771,12478.0,...,False,2231.0,285.0,2586.0,33.962022,15.471513,25.784110,24.902274,0.1,0.0
1631324,5,6,10,734,751,UA,19977,5279,11721,13930.0,...,False,733.0,41.0,223.0,12.915957,25.351905,11.846814,14.315929,0.0,0.0
1631325,3,3,30,1250,1345,AS,19930,421,14747,14057.0,...,False,1245.0,29.0,129.0,13.731863,13.932608,16.616156,18.730498,0.0,0.1
1631326,4,1,27,530,726,NK,20416,1877,10397,11697.0,...,False,527.0,83.0,581.0,11.369045,19.818880,19.615980,17.573201,0.0,1.0

The percentage of reduced rows is 838241 * 100 / 1631327 which gives us 51,38%. That is a huge number of observations we can't afford to lose.

In [11]:
X = delays_train.drop('Arrival_Delay', axis=1)
X_test = delays_test
y = delays_train['Arrival_Delay']
print(y.dtypes)
print(y)
print('\n' + f"Number of predicted variables: {len(y.dtypes) + 1}")
print(f"Number of predicting variables: {len(X.dtypes)}")

float64
3          -0.206932
5         -14.067374
8           4.397840
9         -20.002448
10        -16.973772
             ...
1631321     8.008492
1631323   -10.015618
1631324    11.909120
1631325    -1.992090
1631326   -20.018808
Name: Arrival_Delay, Length: 838241, dtype: float64

Number of predicted variables: 1
Number of predicting variables: 27

In [12]:
delays_train.dtypes

Weekday                        int64
Month_of_Year                  int64
Day_of_Month                   int64
Scheduled_Departure_Time       int64
Scheduled_Arrival_Time         int64
Marketing_Airline             object
Marketing_Airline_DOT_ID       int64
Flight_Number                  int64
Origin_Airport_ID              int64
Destination_Airport_ID       float64
Flight_Cancelled                bool
Departure_State               object
Arrival_State                 object
Departure_Delay              float64
Arrival_Delay                float64
Diverted_Airport_Landings      int64
Taxi_Out_Time                float64
Taxi_In_Time                 float64
Flight_Diverted                 bool
Actual_Departure_Time        float64
Flight_Duration              float64
Flight_Distance              float64
Origin_Temperature           float64
Destination_Temperature      float64
Origin_Wind_Speed            float64
Destination_Wind_Speed       float64
Origin_Precipitation         float64
Destination_Precipitation    float64
dtype: object

In [13]:
X[['Marketing_Airline', 'Departure_State', 'Flight_Cancelled', 'Arrival_State', 'Flight_Diverted']] = X[['Marketing_Airline', 'Departure_State', 'Flight_Cancelled', 'Arrival_State', 'Flight_Diverted']].apply(lambda x: pd.factorize(x)[0])
X_test[['Marketing_Airline', 'Departure_State', 'Flight_Cancelled', 'Arrival_State', 'Flight_Diverted']] = X_test[['Marketing_Airline', 'Departure_State', 'Flight_Cancelled', 'Arrival_State', 'Flight_Diverted']].apply(lambda x: pd.factorize(x)[0])

In [14]:
X.dtypes

Weekday                        int64
Month_of_Year                  int64
Day_of_Month                   int64
Scheduled_Departure_Time       int64
Scheduled_Arrival_Time         int64
Marketing_Airline              int64
Marketing_Airline_DOT_ID       int64
Flight_Number                  int64
Origin_Airport_ID              int64
Destination_Airport_ID       float64
Flight_Cancelled               int64
Departure_State                int64
Arrival_State                  int64
Departure_Delay              float64
Diverted_Airport_Landings      int64
Taxi_Out_Time                float64
Taxi_In_Time                 float64
Flight_Diverted                int64
Actual_Departure_Time        float64
Flight_Duration              float64
Flight_Distance              float64
Origin_Temperature           float64
Destination_Temperature      float64
Origin_Wind_Speed            float64
Destination_Wind_Speed       float64
Origin_Precipitation         float64
Destination_Precipitation    float64
dtype: object

In [15]:
print(X.isna().sum(axis=0))

Weekday                      0
Month_of_Year                0
Day_of_Month                 0
Scheduled_Departure_Time     0
Scheduled_Arrival_Time       0
Marketing_Airline            0
Marketing_Airline_DOT_ID     0
Flight_Number                0
Origin_Airport_ID            0
Destination_Airport_ID       0
Flight_Cancelled             0
Departure_State              0
Arrival_State                0
Departure_Delay              0
Diverted_Airport_Landings    0
Taxi_Out_Time                0
Taxi_In_Time                 0
Flight_Diverted              0
Actual_Departure_Time        0
Flight_Duration              0
Flight_Distance              0
Origin_Temperature           0
Destination_Temperature      0
Origin_Wind_Speed            0
Destination_Wind_Speed       0
Origin_Precipitation         0
Destination_Precipitation    0
dtype: int64

<h3>As the number of columns with missing values is significant, I decided to drop those that consist in more than 30% of NAs, and than remove missing rows</h3>

In [16]:
threshold = 0.3
max_len = len(X)
X.dropna(axis=1, thresh = int(0.1 * X.shape[0]), inplace=True)

In [17]:
X

,Weekday,Month_of_Year,Day_of_Month,Scheduled_Departure_Time,Scheduled_Arrival_Time,Marketing_Airline,Marketing_Airline_DOT_ID,Flight_Number,Origin_Airport_ID,Destination_Airport_ID,...,Flight_Diverted,Actual_Departure_Time,Flight_Duration,Flight_Distance,Origin_Temperature,Destination_Temperature,Origin_Wind_Speed,Destination_Wind_Speed,Origin_Precipitation,Destination_Precipitation
3,2,3,22,700,924,0,19805,1538,15624,11298.0,...,0,658.0,125.0,641.0,24.562566,14.509228,24.946489,22.630553,0.0,0.0
5,1,5,30,750,915,1,19393,1336,14831,14679.0,...,0,748.0,58.0,417.0,9.360464,15.977111,19.001179,16.884960,0.0,0.0
8,6,2,5,1550,1757,2,19977,760,13930,12889.0,...,0,1600.0,212.0,1514.0,13.230787,19.435726,20.623159,25.128615,0.0,0.0
9,7,5,15,1929,2249,3,20409,277,11697,14771.0,...,0,1931.0,335.0,2584.0,27.445288,24.229759,30.438358,27.491255,0.5,2.0
10,2,2,15,1440,1613,2,19977,4835,12266,13422.0,...,0,1434.0,60.0,427.0,17.339235,18.064053,15.122579,17.647518,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631321,6,6,4,1620,1856,5,20416,1308,11697,10821.0,...,0,1645.0,119.0,925.0,19.305118,18.690610,19.293906,20.953889,0.0,0.1
1631323,2,4,19,2239,720,0,19805,276,14771,12478.0,...,0,2231.0,285.0,2586.0,33.962022,15.471513,25.784110,24.902274,0.1,0.0
1631324,5,6,10,734,751,2,19977,5279,11721,13930.0,...,0,733.0,41.0,223.0,12.915957,25.351905,11.846814,14.315929,0.0,0.0
1631325,3,3,30,1250,1345,6,19930,421,14747,14057.0,...,0,1245.0,29.0,129.0,13.731863,13.932608,16.616156,18.730498,0.0,0.1
1631326,4,1,27,530,726,5,20416,1877,10397,11697.0,...,0,527.0,83.0,581.0,11.369045,19.818880,19.615980,17.573201,0.0,1.0

In [18]:
len(X.dtypes)

27

In [19]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)
print(reg.score(X, y))
reg.coef_
reg.intercept_
y_pred = reg.predict(X_test)

0.9727816382228109

In [20]:
from sklearn.metrics import mean_absolute_error, mean_absolute_error, roc_curve

In [21]:
n = len(y_pred)

print(mean_absolute_error(y.iloc[:n], y_pred))

36.26380682450535

<h3>Polynomial predictions</h3>

In [23]:
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
train_errors = []
test_errors = []
degrees = [1,3,5,10]

for degree in degrees:
    poly_features = PolynomialFeatures(degree = degree)
    x_poly_train = poly_features.fit_transform(X[:, np.newaxis])
    x_poly_test = poly_features.fit_transform(x_test[:, np.newaxis])

    model = LinearRegression().fit(X, y)

    train_predictions = model.predict(x_poly_train)
    test_predictions = model.predict(x_poly_test)

    train_errors.append(mean_squared_error(y, y_pred))

plt.figure(figsize=(10, 6))
plt.plot(degrees, train_errors, label='Train Error', marker='o')
plt.title('Learning Curves')
plt.xlabel('Polynomial Degree')
plt.ylabel('Mean Squared Error')
plt.xticks(degrees)
plt.legend()
plt.grid(True)
plt.show()

InvalidIndexError: (slice(None, None, None), None)

Prediction with sampling

In [31]:
from sklearn.utils.random import sample_without_replacement
#print(sample_without_replacement(y.astype(int), n))
#print(mean_absolute_error(, y_pred))

The model works properly, however the result is awful. In fact it's complete failure we should try to avoid. There's plenty of things we can do with this.

Visualizations

<h3>Model saving</h3>

In [ ]:
train_mode = dict(X.mode().iloc[0])
X = X.fillna(train_mode)
train_mode

In [ ]:
encoders = {}
for column in [
    'Weekday',
    'Month_of_Year',
    'Day_of_Month',
    'Scheduled_Departure_Time',
    'Scheduled_Arrival_Time',
    'Marketing_Airline',
    'Marketing_Airline_DOT_ID',
    'Origin_Airport',
    'Origin_Airport_ID',
]:
    categorical_convert = LabelEncoder()
    X[column] = categorical_convert.fit_transform(X[column])
    encoders[column] = categorical_convert

In [188]:
import joblib
joblib.dump(reg, 'LinearRegressionModel.joblib')
joblib.dump(encoders, 'encoders.joblib')
joblib.dump(train_mode, 'train_mode.joblib')

['LinearRegressionModel.joblib']